.section{
  display: none;
}
.section.is-shown{
  display: block;
}

.section-header{
  padding-bottom: 0.5rem;
  border-bottom: 0.07rem solid #d5d5d5;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.workplace{
  margin-top: 1rem;
  text-align: center;
}

.general-btn{
  color: #16a085;
  border: 0.12rem solid #16a085;
  border-radius: 0.3rem;
  letter-spacing: 0.06rem;
  transition: 0.2s;
  cursor: pointer;
}
.general-btn:hover,
.general-btn:focus{
  color: #ffffff;
  background-color: #16a085;
}
.general-btn:active{
  background-color: #1cbe9e;
  border: 0.12rem solid #1cbe9e;
  transition: 0s;
}
.general-btn img{
  float: left;
  margin-right: 0.5rem;
}
.inline-bnt{
  margin-left: 1rem;
}

 /*This was "add third owner btn"*/

.mini-btn{
  padding: 0;
  font-size: 1rem;
  color: #696969;
  cursor: pointer;
  border-bottom: 0.07rem solid #fff;
  transition: 0.15s;
}
.mini-btn:hover{
  border-bottom: 0.07rem solid #16a085;
  color: #16a085;
}

.input-locker-number{
  width: 50px;
  text-align: center;
}
.protip{
  float: right;
  font-size: 0.8rem;
  color: #a7a7a7;
}
.msg{
  margin-top: 1rem;;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-align: center;
}
.info{
  color: #7f8c8d;
  border: 0.05rem solid #7f8c8d;
}
.success{
  color: #16a085;
  border: 0.05rem solid #16a085;
}
.error{
  color: #c0392b;
  border: 0.05rem solid #c0392b;
}

/* Find locker section */
#find-locker-inputs{
  text-align: left;
}
#find-locker-inputs label{
  border-bottom: solid 0.07rem #16a085;
  margin-bottom: 1rem;
}
#found-lockers-list{
  max-height: 16.5rem;
  margin-top: 1rem;
  background-color: #f1f1f1;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 3px #b3b3b3;
  overflow-y: scroll;
}
#find-locker-class{
  width: 2.4rem;
}
.found-locker{
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.found-locker:not(last-child){
  border-bottom: 0.06rem solid #e7e7e7;
}
.found-locker-number{
  flex-basis: 2rem;
}
.empty-locker{
  background-color: #e8e8e8;
}
#find-type-inputs{
  float: right;
  margin-right: 0.5rem;
}
#find-locker-inputs input[type=radio]{
  display: none;
}
#find-locker-inputs input[type=radio] + label{
  border-bottom: 0.06rem solid #fff;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}
#find-locker-inputs input[type=radio]:checked + label{
  color: #16a085;
  border-bottom: 0.06rem solid #16a085;
}
#find-locker-credentials label{
  padding-right: 0.5rem;
}

/* Manage locker section */
#manage-locker-section .workplace{
  text-align: left;
}
label[for="manage-locker-number"]{
  margin-left: 1.05rem;
}
#manage-locker-number{
  width: 3rem;
}

.owners{
  display: flex;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: space-around;
  margin-top: 1rem;
}
.owner-input{
  display: flex;
}
.owner-input input{
  flex: 1;
}
#manage-locker-section label{
  border-bottom: solid 0.07rem #16a085;
  margin-right: 0;
  padding-right: 0.5rem;
}

#manage-locker-btn{
  width: 100%;
  margin-top: 1rem;
}

.input-locker-surname,
.input-locker-name{
  text-transform: capitalize;
}
.input-locker-class{
  text-transform: uppercase;
}

/* Change year section */
#unlock-year-change-btn{
  margin-right: 1rem;
}
#year-change-btn.locked{
  color: #b0b0b0;
  border-color: #b0b0b0;
}
#year-change-btn.locked:hover,
#year-change-btn.locked:active,
#year-change-btn.locked:focus{
  background-color: transparent;
  cursor: default;
}
