.section{
  display: none;
}
.section.is-shown{
  display: block;
}

.section-header{
  padding-bottom: 0.5rem;
  border-bottom: 0.07rem solid #d5d5d5;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.workplace{
  margin-top: 2rem;
  text-align: center;
}

.general-btn{
  color: #16a085;
  border: 0.12rem solid #16a085;
  border-radius: 0.3rem;
  letter-spacing: 0.06rem;
  transition: 0.2s;
  cursor: pointer;
}
.general-btn:hover,
.general-btn:focus{
  color: #ffffff;
  background-color: #16a085;
}
.general-btn:active{
  background-color: #1cbe9e;
  border: 0.12rem solid #1cbe9e;
  transition: 0s;
}
.general-btn img{
  float: left;
  margin-right: 0.5rem;
}

/* This was "add third owner btn"

.mini-btn{
  padding: 0 0.4rem 0.2rem 0.4rem;
  font-size: 0.8rem;
  color: #16a085;
  cursor: pointer;
  border-bottom: 0.07rem solid #fff;
  transition: 0.15s;
}
.mini-btn:hover{
  border-bottom: 0.07rem solid #16a085;
}*/

.input-locker-number,
.input-locker-class{
  width: 50px;
  text-align: center;
}
.protip{
  float: right;
  font-size: 0.8rem;
  color: #a7a7a7;
}
.msg{
  margin-top: 1rem;;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.info{
  color: #7f8c8d;
  border: 0.05rem solid #7f8c8d;
}
.success{
  color: #16a085;
  border: 0.05rem solid #16a085;
}
.error{
  color: #c0392b;
  border: 0.05rem solid #c0392b;
}

/* Find locker section */
#find-locker-inputs{
  text-align: left;
}
#found-lockers-list{
  max-height: 13rem;
  margin-top: 3rem;
  background-color: #f1f1f1;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 3px #b3b3b3;
  overflow-y: scroll;
}
.found-locker{
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.found-locker:not(last-child){
  border-bottom: 0.06rem solid #e7e7e7;
}
.found-locker-number{
  flex-basis: 2rem;
}
.empty-locker{
  background-color: #e8e8e8;
}

/* Create locker section */
#create-locker-btn{
  margin-left: 1rem;
}

/* Manage locker section */
#manage-locker-number{
  width: 3rem;
}
.owners{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: space-around;
}
.owner-inputs{
  margin-top: 2rem;
}
#manage-locker-btn{
  width: 100%;
  margin-top: 1rem;
}
.input-locker-surname,
.input-locker-name{
  text-transform: capitalize;
}
.input-locker-class{
  text-transform: uppercase;
}
